{% extends 'layout.html.twig' %}

{% block content %}
    <div class='project-page'>
        <div class='background'>
            <img src="/img/projects/{{project.imagePath}}" />
        <div>
        <h1>{{project.name}}</h1>
        <h3>{{project.category.name}}</h3>
        <div class='project-body'>
            <div class='project-content'>
                <p>{{project.description|raw}}</p>
            </div>
            <div class='project-info'>
                <h2>Informations</h2>
                <div class='divider'></div>
                {% if project.link is not null %}
                    <a href="{{project.link}}" target="_blank" class='btn btn-view'>Lien vers le projet</a>
                {% endif %}
                <h3>Créer le</h3>
                <p>{{project.createdAt|date("m/d/Y")}}</p>
                <h3>Dernière modification le</h3>
                <p>{{project.updatedAt|date("m/d/Y")}}</p>
                <h3>Commencer le</h3>
                <p>{{project.startedAt|date("m/d/Y")}}</p>
                {% if project.finishedAt is defined %}
                    <h3>Fini le</h3>
                    <p>{{project.finishedAt|date("m/d/Y")}}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
