<nav>
    <div class='logo'>
        <a href={{ path('home') }}><img src={{ asset("img/logo.png") }} alt="logo"></a>
    </div>
    <div class="links">
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href={{ path('admin') }}>{{ "tpl.navbar.backOffice"|trans }}</a></li>
                <li><a href={{ path('app_logout') }}>{{ "tpl.navbar.logout"|trans }}</a></li>

            {% elseif is_granted('ROLE_USER') %}
                <li>{{ app.user.email  }}</li>
                <li><a href={{ path('app_logout') }}>{{ "tpl.navbar.logout"|trans }}</a></li>

            {% else %}
                <li><a href={{ path('app_register') }}>{{ "tpl.navbar.register"|trans }}</a></li>
                <li><a href={{ path('app_login') }}>{{ "tpl.navbar.login"|trans }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
